type project
owners
    Martin Bailey
authors 
    Martin Bailey
projectUrl
    http://github.com/Martin Bailey/HDAS
iconUrl
    https://raw.githubusercontent.com/Martin Bailey/HDAS/master/docs/files/img/logo.png
licenseUrl
    http://github.com/Martin Bailey/HDAS/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    NICE HDAS
summary
    HDAS
description
    Nice HDAS


